body {
	background-color: var(--color-dark);
	font-family: "Vercetti";
	font-size: 16px;
}

canvas {
	height: 100vh !important;
	width: 100% !important;

	@include medium {
		height: -webkit-fill-available;
	}
}

.popup {
	position: absolute;
	left: 50%;
	top: 15%;
	width: 64%;
	max-width: 660px;
	transform: translateX(-50%);
	font-size: 3vmin;
	line-height: 150%;
	text-align: center;
	color: var(--color-main);
	z-index: 20;
	pointer-events: none;

	a {
		pointer-events: initial;
	}

	@include medium {
		width: 80%;
		font-size: 4.5vmin;
	}

	a {
		color: var(--color-main);
		text-decoration: underline;
	}

	span {
		font-size: 0.8em;
	}

	h1 {
		font-size: 1.5em;
	}
}
