body {
	background-color: var(--color-dark);
	font-family: "Vercetti";
	font-size: 16px;
}

canvas {
	height: 100vh !important;
	width: 100% !important;
}

.popup {
	position: absolute;
	left: 50%;
	top: 15vmin;
	transform: translateX(-50%);
	font-size: 3vmin;
	line-height: 150%;
	text-align: center;
	color: var(--color-main);
	z-index: 20;

	a {
		color: var(--color-main);
		text-decoration: underline;
	}

	span {
		font-size: 3vmin;
	}

	h1 {
		font-size: 5vmin;
	}
}
