body {
	background-color: var(--color-dark);
	font-family: "Vercetti";
	font-size: 16px;
}

canvas {
	height: 100vh !important;
	width: 100% !important;
}

.content {
	position: absolute;
	left: 50%;
	top: 15vmin;
	transform: translateX(-50%);
	font-size: 2rem;
	line-height: 150%;
	text-align: center;
	color: var(--color-main);

	span {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 3rem;
	}
}
